PORT=8082
SESSION_SECRET=change_me
META_APP_ID=3920627134903086
META_APP_SECRET=06390a02e3171696162f72823eeba802
META_REDIRECT_URI=https://loupowiss-sudo.github.io/api/meta/callback
META_SCOPES=ads_read,read_insights,business_management
